body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.message-box{
    opacity: 0;
    height: 0;
    padding: 0;
    -webkit-transition: opacity .5s linear, height .5s linear;
         -o-transition: opacity .5s linear, height .5s linear;
            transition: opacity .5s linear, height .5s linear;
}

.message-box.in {
    height: auto;
    opacity:1;
    padding: 15px;
}

ul.tree {
    padding-left: 1em;
    list-style: none;
}


ul.root-tree{
    padding-left: 0px;
}

.tree > li.node ,
.root-tree > li.node {
    padding: 6px 0em;
}

.tree > .node > span{
    padding-left: 1em;
}

.tree li.node button.tree {
    padding: 0px 4px;
    width: 1em;
    border: 0px;
    background: #fff none;
}

.tree > li.node > a.edit,
.tree > li.node > button.edit{
    right:0px;
    position:absolute;
}